<!--Шаблон с последними статьями автора-->
{% extends 'base.html' %}

{% block title %}{{ author.name }}'s Posts{% endblock %}

{% block content %}
    <h2>Последние 5 статей автора: {{ author.name }}</h2>
    <table>
        {% for post in posts %}
            <tr>
            <td><a href="{% url 'post_full' post.id %}">{{ post.title }}</a>
            <td>{{ post.get_summary }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

<!--Внутри шаблона мы обращаемся к переменным author и post как к экземплярам класса. Для получения имени автора используем -->
<!--точечную нотацию author.name, т.к. это свойство прописано в моделе автора. Аналогично получаем заголовок статьи.-->
<!--Кроме того в моделе Post есть метод get_summary. Он возвращает 12 первых слов из содержимого статьи. -->
<!--Используя {{ post.get_summary }} шаблон через контекст вызывает метод модели-->