<!--Пример базового шаблона с наследованием:-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Сайт{% endblock %}</title>
</head>
<body>
    {% block content %}
        <p>Скоро тут появится текст...</p>
    {% endblock %}
</body>
</html>

<!--Теги block и extends позволяют создавать базовые шаблоны и наследовать их в других шаблонах.-->
<!--Блоки позволяют переопределять содержимое в наследуемых шаблонах, а тег extends указывает,-->
<!--какой шаблон является базовым для текущего.-->

<!--В этом примере мы создали базовый шаблон, который содержит блоки title и content. -->
<!--Текст внутри блоков является резервным вариантом. Если дочерний шаблон не переопределит блок, будет выведен текст -->
<!--внутри блоков базового шаблона. Блоки позволяют переопределять содержимое в наследуемых шаблонах.-->

<!--Как и во всех прошлых случая вам нужно создать представления, которые будет отрисовывать шаблоны, а также добавить-->
<!--маршруты для представлений в urls.py-->