<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Первый шаблон Django</title>
</head>
<body>
    <h1>Hello, {{ name }}!</h1>
<!--Переменные внутри шаблона заключаются в двойные фигурные скобки с пробелами до и после имени переменной.-->

</body>
</html>

<!--В этом примере мы создали HTML-страницу с заголовком "Первый шаблон Django".-->
<!--Внутри тега body мы добавили заголовок первого уровня h1 и использовали переменную name, -->
<!--которая будет передана в шаблон из представления.-->